<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <style>
        h4 {
            font: status-bar;
            color: darkslategrey;
        }
    </style>
</head>

<body>
    <h1>Home</h1>
    <div>
        <h4>Welcome {{.name}}</h4>
        <button id="button">Button</button>
    </div>
</body>

<script>
    var button = document.getElementById("button");
    button.onclick = function () {
        alert("Hello {{.name}}");
    }
</script>

</html>